name: Build

on:
  push:
    branches:
      - main
      - master

jobs:
  Test:
    name: Tests
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['14.x']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Run Tests
        run: npm run test

  Build:
    runs-on: ubuntu-latest
    needs: [Test]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Build Image
        run: docker build -t kristianfjones/ts-lazychecker ./

      ## Run [semantic-release](https://github.com/semantic-release/semantic-release) auto release/publish system
      - name: Run semantic-release
        env: # Or as an environment variable
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          GITHUB_USER: KristianFJones
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
